secrets/twitter_neo4jsecret.json
secrets/twitter_secrets.json
.ipynb_checkpoints
__pycache__/
data/users*
data/tweets_*
data/preprocessing/
data/graph-input/
data/features/users*
data/features/time_diff.csv
data/extra/deleted_account_before_guideline.csv
data/extra/deleted_account_after_guideline.csv
data/extra/users_created_at.csv
data/extra/annotated_full.csv
data/extra/created_at.csv
.idea/